/* hide scrollbar but allow scrolling */

.column {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.column::-webkit-scrollbar {
    display: none;
}

/* Inside scroll.module.css */
.card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: x-small
}

.ticket-content {
}